PegSolitaireProject/Library/
PegSolitaireProject/Temp/
PegSolitaireProject/obj/
PegSolitaireProject/Obj/
PegSolitaireProject/Log/
PegSolitaireProject/Logs/
PegSolitaireProject/*.csproj
PegSolitaireProject/*.sln
PegSolitaireProject/.vs/
PegSolitaireProject/.vscode/settings.json
Build/
.vs/
